table {
    width:100%;
    height: 50%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-container {
    height: 100%;
    width: 100%x;
    max-width: 100%;
   overflow: hidden;
  }
  
  table {
    width: 100%;
  }
  .color{
    color: black;
    
  }