<div class="row">
    <mat-card fxFlex="30" class="col-3">
        <mat-card-actions align="end">
            <mat-icon>loyalty</mat-icon>
        </mat-card-actions>
        <mat-card-content>Total User</mat-card-content>
    </mat-card>
    <mat-card fxFlex="30" class="col-3 ">
        <mat-card-actions align="end">
            <mat-icon>phone</mat-icon>
        </mat-card-actions>
        <mat-card-content>Double Option</mat-card-content>
    </mat-card>

    <mat-card fxFlex="30" class="col-3">
        <mat-card-actions align="end">
            <mat-icon>notification_important</mat-icon>
        </mat-card-actions>
        <mat-card-content>GPS Filled</mat-card-content>
    </mat-card>

    <mat-card fxFlex="30" class="col-3">
        <mat-card-actions align="end">
            <mat-icon>notification_important</mat-icon>
        </mat-card-actions>
        <mat-card-content>SPIN WHEEL</mat-card-content>
    </mat-card>
</div>


<div class="row">
    <mat-card fxFlex="30" class="col-3 mt-2">
        <mat-card-actions align="end">
            <mat-icon>notification_important</mat-icon>
        </mat-card-actions>
        <mat-card-content>Total user Payout</mat-card-content>
    </mat-card>

    <mat-card fxFlex="30" class="col-3 mt-2">
        <mat-card-actions align="end">
            <mat-icon>notification_important</mat-icon>
        </mat-card-actions>
        <mat-card-content>TOTAL SITE INCOME</mat-card-content>
    </mat-card>

    <mat-card fxFlex="30" class="col-3 mt-2">
        <mat-card-actions align="end">
            <mat-icon>notification_important</mat-icon>
        </mat-card-actions>
        <mat-card-content>USER MINIMUM PAYOUT</mat-card-content>
    </mat-card>


</div>